/* .game-buy button {
    padding: 10px;
    cursor: pointer;

} */

.game-buy {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.game-buy__price {
    margin-right: 5px;
}